*{
  list-style: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  width: 100%;
}
header h1{
  font-style: italic;
  text-align: center;
  width: 100%;
  height: 50px;
  color: #053396;
}
.fondo img{
  height: 600px;
  width: 100%;
}
.fondo{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.texto-dentro p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #053396;
  font-size: 80px;
  font-weight: 600;
}

footer {
  background-color: #5D7AAB;
  position: relative;
  flex-direction: column;
  align-items: center;
}

footer > p {
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  border-top: 1px solid;
  margin: 1.5%;
}
.cont-info-contac {
  padding: 50px 10px;
}

.cont-info-contac h3,
p {
  color: #FFFFFF;
  margin: 1.5%;
}
